.orange{
  background-color: orange;
}
.aqua{
  background-color: aqua;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.purple{
  background-color: purple;
}
.bold{
  font-weight: bold;
}